header {
    width: 100%;
    height: 100px;
    background-color: bisque;
}

header > div {
    max-width: 1000px;
    width: 100%;
    background-color: darksalmon;
    height: 100%;
    margin: 0 auto;
}

main {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: blueviolet;
}

main > div {
    max-width: 1000px;
    background-color: blanchedalmond;
    height: 100%;
    width: 100%;
    margin: 0;
}